.cummunity {
    width: 80%;
    height: 320px;
    display: flex;
    background-image: url(../images/BG\ 2.png);
    background-size: cover;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.cummunity h1 {
    font-size: 2.5rem;
    color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

.cummunity__label {
    position: relative;
}

.cummunity__label input {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 24rem;
    height: 2.2rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 1.5rem;
}

.cummunity__label button {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0.5%;
    background-color: #FF4B5C;
    outline: none;
    border: none;
    border-radius: 4px;
    color: azure;
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
}

.bg-layer1 {
    position: absolute;
    width: 8rem;
    height: auto;
    bottom: 0%;
    right: 0;
}