.link {
    width: 100%;
    height: 160px;
    background-color: #ffff;
}

.link__container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link__container img {
    height: 1.8rem;
    width: auto;
}